<footer class="footer">
  <i class="footer-pic">
    <img src="./img/dragon-pic.png" alt="icon" width="625" height="700">
  </i>
  <div class="container">

    <div class="footer-holder">
      <a href="#" class="footer-logo">
        <picture>
          <source type="image/webp" srcset="./img/logo-footer.webp, ./img/logo-footer@2x.webp 2x" width="253" height="152">
          <img src="./img/logo-footer.png" srcset="./img/logo-footer@2x.png 2x" alt="pic" width="253" height="152">
        </picture>
      </a>
      <!-- /.footer-logo -->
      
      <div class="footer-main">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Каталог игр</a></li>
            <li><a href="#">F.A.Q</a></li>
            <li><a href="#">Гарантии</a></li>
            <li><a href="#">Поставщикам</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Мой аккаунт</a></li>
          </ul>
        </nav>

        <div class="summary">
          <i class="summ-icon">?</i>
          <div class="summ-desc">
            <strong>Сумма заказов, руб. </strong>
            <strong>Скидка</strong>
          </div>
          <div class="summ-table">
            <div class="summ-row">
              <p>100 - 500</p>
              <strong>1%</strong>
            </div>
            <div class="summ-row">
              <p>500 - 2000</p>
              <strong>2%</strong>
            </div>
            <div class="summ-row">
              <p>2000 - 5000</p>
              <strong>3%</strong>
            </div>
            <div class="summ-row">
              <p>5000 - 10000</p>
              <strong>4%</strong>
            </div>
            <div class="summ-row">
              <p>10000 - 30000</p>
              <strong>5%</strong>
            </div>
            <div class="summ-row">
              <p>VIP статус > 30000 </p>
              <strong>10%</strong>
            </div>
          </div>
        </div>
      </div>
      <!-- /.footer-main -->

      <div class="contact-us">
        <a href="#" class="btn btn-transp contact-us__btn">Связатся с нами</a>
        <div class="working-hours">
          <i class="working-hours__icon"></i>
          <p>с 11:00 до 23:00</p>
        </div>
      </div>
      <!-- /.contact-us -->
    </div>

    <div class="copyright">2020 © Все права защищены</div>

  </div>
</footer>








<!-- Developer -->
<div class="develop">
  <a href="https://t.me/kh2nh">Develop by: Khánh Nguyễn</a>
</div>
<!-- ========================== -->
<div class="html-wrap">
  <div class="toggle-menu js-close-menu">
    <span>Close list</span>
  </div>
  <ul class="html-list">
    <li class="html-items">
      <span>1.</span>
      <a href="./index.html" class="html-link">index.html</a>
    </li>
    <li class="html-items">
      <span>2.</span>
      <a href="./faq-page.html" class="html-link">faq-page.html</a>
    </li>
    <li class="html-items">
      <span>3.</span>
      <a href="./warranty-page.html" class="html-link">warranty-page.html</a>
    </li>
    <li class="html-items">
      <span>4.</span>
      <a href="./provider-page.html" class="html-link">provider-page.html</a>
    </li>
    <li class="html-items">
      <span>5.</span>
      <a href="./contacts.html" class="html-link">contacts.html</a>
    </li>
    <li class="html-items">
      <span>6.</span>
      <a href="./404-page.html" class="html-link">404-page.html</a>
    </li>
    <li class="html-items">
      <span>2.</span>
      <a href="./ui-kit.html" class="html-link">UI-Kit.html</a>
    </li>
  </ul>
</div>


<style>
  .html-wrap {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    background: #fff;
    z-index: 999;
  }
  .html-list {
    padding: 12px 8px;
    height: 200px;
    overflow: auto;
    height: auto;
    width: auto;
    display: block;
  }
  .inactive {
    display: none;
  }
  .html-items {
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .html-items span {
    display: inline-block;
    margin-right: 6px;
    min-width: 21px;
    color: #000;
  }
  .html-link {
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 400;
  }
  .html-link:hover {
    text-decoration: none;
  }
  .toggle-menu {
    color: #000;
    display: block;
    border-bottom: 1px solid #000;
    cursor: pointer;
    padding: 0;
    text-align: right;
  }
  .toggle-menu span {
    text-align: center;
    display: block;
    background: #000;
    color: #fff;
    padding: 0 6px;
  }
</style>
<!-- ========================== -->