<header class="header">
  <div class="container header__container">

    <a href="#" class="logo">
      <picture>
        <source type="image/webp" srcset="./img/logo.webp, ./img/logo@2x.webp 2x">
        <img src="./img/logo.png" srcset="./img/logo@2x.png 2x" alt="pic">
      </picture>
    </a>
    <!-- /.logo -->

    <nav class="nav">
      <ul>
        <li><a href="./">Главная</a></li>
        <li><a href="./catalog-page.html">Каталог игр</a></li>
        <li><a href="./faq-page.html">F.A.Q</a></li>
        <li><a href="./warranty-page.html">Гарантии</a></li>
        <li><a href="./provider-page.html">Поставщикам</a></li>
        <li><a href="./contacts.html">Контакты</a></li>
      </ul>
    </nav>
    <!-- /.nav -->

    <div class="header-widget">
      <form action="#" class="form header-widget__form">
        <div class="form-row form-row--search">
          <input type="text" class="form-control form-control--search" placeholder="Введите названия игры">
        </div>
        <button class="form-search"></button>
      </form>
      <a href="#" class="profile"></a>
    </div>
    <!-- /.header-widget -->
  </div>
</header>