// Basic colors
$white: #fff;
$black: #000;
$gray: #ccc;
$trans: transparent;

// Custom colors...
$sweet: #f7de87;
$text: $white;


// ============Typography base============
$main-font: 'Montserrat', Arial, sans-serif;
$sec-font: 'Arial', Open Sans, sans-serif;
$font-weight: 400;
$font-size: 16px;
$line-height: 28px;
$txt-color: $white;

// ============Typography buttons============
$btn-ff: $main-font;
$btn-fz: $font-size;
$btn-lh: $line-height;
$btn-fw: 700;
$btn-color: $txt-color;
$btn-radius: 12px;
