.form {}

.form-holder {}

.form-row {
  &--search {
    max-width: 434px;
    width: 100%;
  }
}

.form-col {}

.form-control{
  font-family: $main-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $txt-color;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  text-align: left;
  padding: 10px 14px;

  display: inline-block;
  vertical-align: top;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  margin: 0;
  @include transition;
  &--search {
    height: 40px;
    border: 1px solid #fff;
    padding: 10px 38px 10px 14px;
  }
  &:focus {
    border: 1px solid $sweet;
  }
}
*::-webkit-input-placeholder {
  opacity: 1;
  color: #bbb;; 
}
*:-moz-placeholder {
  opacity: 1;
  color: #bbb;; 
}
*::-moz-placeholder {
  opacity: 1;
  color: #bbb;; 
}
*:-ms-input-placeholder {
  opacity: 1;
  color: #bbb;; 
}

.form-search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  height: 20px;
  width: 20px;
  padding: 0;
  border: none;
  background-color: $trans;
  @include hover() {
    &:after {
      opacity: 0.7;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/icon-search.png) center / auto no-repeat;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
  }
}

// Form dark
.form-dark {
  &__holder {
    background-color: #353535;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 30px;
  }
  &__grp {
  }
  &__row {
    margin-bottom: 30px;
  }
  &__control {
    height: 58px;
    padding: 14px;
    &--area {
      height: 154px;
      padding: 14px;
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.attention {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $sweet;
    margin-right: 16px;
    height: 44px;
    width: 44px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url(../img/icon-triangle.svg) center / auto no-repeat;
      height: 100%;
      width: 100%;
      top: -5px;
      left: 0;
    }
  }
}

// Form registr / Registration-page
.form-registr {
  background-color: rgba(50, 50, 50, 0.7);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px;
  &__grp {
    margin-bottom: 40px;
    &--sign-in {
      margin-bottom: 15px;
    }
  }
  &__row {
    margin-bottom: 20px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
    }
    &.icon-email,
    &.icon-pass {
      &:after {
        content: '';
        position: absolute;
        background: url(../img/icon-email.png) center / auto no-repeat;
        width: 22px;
        height: 22px;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    &.icon-pass {
      &:after {
        background: url(../img/icon-lock.png) center / auto no-repeat;
      }
    }
  }
  &__control {
    padding: 10px 52px;
  }
  &__col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__agreement {
    margin: 30px 0;
  }
  &__btn {
    max-width: 308px;
  }
}

.recap {
  width: 363px;
  height: 123px;
  border: none;
  padding: 0;
}

.show-pass {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  width: 32px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.2s ease;
  @include hover() {
    opacity: 0.6;
  }
  &:after {
    content: '';
    position: absolute;
    background: url(../img/icon-pass.png) center / cover no-repeat;
    height: 22px;
    width: 22px;
  }
  &:before {
    content: '';
    position: absolute;
    height: 24px;
    width: 1px;
    transform: rotate(45deg);
    top: 12px;
    left: 16px;
    background-color: #fff;
    opacity: 0;
  }
  &.is-show {
    &:before {
      opacity: 1;      
    }
  }
}