.header {
  padding: 40px 0 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background-color: $trans;
  transition: all 0.3s ease;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.is-active {
    padding: 14px 0;
    background-color: #000;
  }
}

.logo {
  display: flex;
  margin-right: auto;
}

.nav {
  margin-right: auto;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 -20px;
    li {
      padding: 0 10px;
      a {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: #fff;
        padding: 5px 10px;
        text-decoration: none;
        transition: all 0.2s ease;
        @include hover() {
          color: $sweet;
        }
      }
    }
  }
}

.header-widget {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__form {
    position: relative;
    margin-right: 60px;
  }
}

.profile {
  display: inline-block;
  height: 47px;
  width: 47px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  position: relative;
  @include hover() {
    background: rgba(255, 255, 255, 0.3);
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    background: url(../img/icon-profile.png) center / auto no-repeat;
    height: 28px;
    width: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}