.widget-messeage {
  position: fixed;
  top: 380px;
  right: -150px;
  transform: rotate(-90deg);
  z-index: 999;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px 12px 0 0;
  width: 100%;
  height: 60px;
  width: 354px;
  text-decoration: none;
  background: linear-gradient(180deg, #e6be31 0%, #e68831 100%);
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.25);
  @include hover() {
    background: linear-gradient(180deg, #e68831 0%, #e6be31 100%);
  }
  @media only screen and (max-width: 1440px) {
    height: 48px;
    padding: 12px;
    width: 284px;
    right: -118px;
    top: 336px;
    justify-content: flex-start;
    padding: 0;
    overflow: hidden;
  }
  &__holder {
    padding: 12px 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    @media only screen and (max-width: 1440px) {
      font-size: 16px;
      padding: 10px;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 73px;
    background: rgba(204, 112, 3, 0.5);
    border-radius: 0 0 0 12px;
    transform: rotate(90deg);
    @media only screen and (max-width: 1440px) {
      width: 48px;
      height: 52px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url(../img/icon-widget-message.png) center / contain no-repeat;
      width: 32px;
      height: 32px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}