.inner-pages {
  background-image: url(../img/bg-fifa.png);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 194px 0 80px;
  position: relative;
  @media only screen and (max-width: 1440px) {
    background-size: auto;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(90deg, #282828 0%, #283153 50.52%, #282828 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
  }
  &--pb {
    padding-bottom: 0;
  }
  &.bg-one {
    background-image: url(../img/bg-one.jpg);
    &:after {
      content: '';
      position: absolute;
      background: linear-gradient(90deg, #28282A 0%, #373758 50.02%, #28282A 100%);
    }
  }
  &.personal-bg {
    background-image: url(../img/bg-privat.jpg);
  }
}
// Faq page
.faq-page {
  &__head-page {
    margin-bottom: 106px;
  }
}

.faq-block {
  max-width: 1470px;
  width: 100%;
  margin: 0 auto;
}

.faq-list {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.faq-items {
  background-color: #1f1f1f;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.faq-title {
  background-color: #1f1f1f;
  font-weight: 700;
  font-size: 30px;
  display: block;
  text-align: left;
  padding-bottom: 14px;
  padding: 14px 48px;
}

.faq-holder {
  background-color: #353535;
  padding: 14px 48px;
}

  // Accordion
.acc {}

.acc-holder {}

.acc-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  cursor: pointer;
  &.is-active {
  }
}

.acc-icon {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 18px;
  transform: rotate(0);
  transform-origin: center;
  @include transition;
  &:after {
    content: '';
    display: block;
    background: url(../img/icon-acc.svg) center / auto no-repeat;
    width: 100%;
    height: 100%;
  }
  &.is-rotated {
    transform: rotate(180deg);
  }
}

.acc-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $sweet;
  width: 100%;
  transition: all 0.2s ease;
  @include hover() {
    color: #fff;
  }
  &.title-active {
  }
}

.acc-body {
  width: 100%;
  height: auto;
  overflow-y: auto;
  margin: 0 auto;
  padding: 20px 4px 4px 34px;
  display: none;
}

.acc-content {
  font-size: 16px;
  font-weight: 400;
}

// Warranty-page
.warranty-page {
}

.warranty-text {
  margin-bottom: 66px;
}

// Provider-page

.contacts-page {
  &__head-page {
    margin-bottom: 160px;
  }
  &__holder {
    background: linear-gradient(90deg, #28282A 0%, #373758 50.02%, #28282A 100%);
    box-shadow: 0 -4px 24px rgba(0, 0, 0, 0.05);
    padding-top: 60px;
    position: relative;
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -48px;
    }
    &:after {
      max-width: 450px; 
      width: 100%;
      height: 60px;
      transform: skew(70deg);
      left: -75px;
      background: linear-gradient(20deg,#28282a 0,#373758 106.02%,#28282a 100%);
    }
    &:before {
      max-width: 450px; 
      width: 100%;
      height: 60px;
      transform: skew(-70deg);
      right: -75px;
      background: linear-gradient(-20deg,#28282a 0,#373758 113.02%,#28282a 100%);
    }
  }
  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.contacts-block {
  max-width: 715px;
  width: 100%;
  text-align: left;
  &__list {
    background: url(../img/contact-block-pic.jpg) center / cover no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    padding: 30px 74px;
    list-style: none;
    &:after {
      content: '';
      display: block;
      position: absolute;
      background-image: linear-gradient(0deg, rgba(53, 53, 53, 0.95), rgba(53, 53, 53, 0.95));
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
    }
  }
  &__items {
    margin-bottom: 30px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: url(../img/line.png) center / cover no-repeat;
      width: 100%;
      height: 1px;
      bottom: -15px;
      left: 0;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      background-image: url(../img/icon-vk.png);
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      height: 24px;
      width: 24px;
      top: 0;
      left: -48px;
    }
    &.icon-skype {
      &:before {
        background-image: url(../img/icon-skype.png);
      }
    }
    &.icon-online {
      &:before {
        background-image: url(../img/icon-online.png);
      }
    }
    &.icon-phone {
      &:before {
        background-image: url(../img/icon-phone.png);
      }
    }
    &.icon-mail {
      &:before {
        background-image: url(../img/icon-mail.png);
      }
    }
  }
  &__link {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-align: left;
    display: block;
    transition: all 0.2s ease;
    @include hover() {
      color: $sweet;
    }
  }
}
