.personal-main {
  &__container {
    background: linear-gradient(90deg,#28282a 0,#373758 50.02%,#28282a 100%);
    box-shadow: 0 -4px 24px rgba(0,0,0,.05);
    padding-top: 60px;
    position: relative;
    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -48px;
    }
    &:after {
      max-width: 450px; 
      width: 100%;
      height: 60px;
      transform: skew(70deg);
      left: -75px;
      background: linear-gradient(20deg,#28282a 0,#373758 106.02%,#28282a 100%);
    }
    &:before {
      max-width: 450px; 
      width: 100%;
      height: 60px;
      transform: skew(-70deg);
      right: -75px;
      background: linear-gradient(-20deg,#28282a 0,#373758 113.02%,#28282a 100%);
    }
  }
}